In [2]:
import pandas as pd
from sqlalchemy import create_engine

In [3]:

accident_data = pd.read_csv('Accidents0515.csv')
casualties_data = pd.read_csv('Casualties0515.csv')
vehicle_data = pd.read_csv('Vehicles0515.csv')
accident_data

,Accident_Index,Location_Easting_OSGR,Location_Northing_OSGR,Longitude,Latitude,Police_Force,Accident_Severity,Number_of_Vehicles,Number_of_Casualties,Date,...,Pedestrian_Crossing-Human_Control,Pedestrian_Crossing-Physical_Facilities,Light_Conditions,Weather_Conditions,Road_Surface_Conditions,Special_Conditions_at_Site,Carriageway_Hazards,Urban_or_Rural_Area,Did_Police_Officer_Attend_Scene_of_Accident,LSOA_of_Accident_Location
0,200501BS00001,525680.0,178240.0,-0.191170,51.489096,1,2,1,1,04/01/2005,...,0,1,1,2,2,0,0,1,1,E01002849
1,200501BS00002,524170.0,181650.0,-0.211708,51.520075,1,3,1,1,05/01/2005,...,0,5,4,1,1,0,0,1,1,E01002909
2,200501BS00003,524520.0,182240.0,-0.206458,51.525301,1,3,2,1,06/01/2005,...,0,0,4,1,1,0,0,1,1,E01002857
3,200501BS00004,526900.0,177530.0,-0.173862,51.482442,1,3,1,1,07/01/2005,...,0,0,1,1,1,0,0,1,1,E01002840
4,200501BS00005,528060.0,179040.0,-0.156618,51.495752,1,3,1,1,10/01/2005,...,0,0,7,1,2,0,0,1,1,E01002863
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1780648,2015984139115,312087.0,570791.0,-3.376671,55.023855,98,3,3,1,11/12/2015,...,0,0,1,1,2,0,0,2,1,NaN
1780649,2015984139715,320671.0,569791.0,-3.242159,55.016316,98,3,2,1,02/12/2015,...,0,0,1,1,2,0,0,2,1,NaN
1780650,2015984140215,311731.0,586343.0,-3.387067,55.163502,98,2,1,4,23/12/2015,...,0,0,6,4,2,0,0,2,1,NaN
1780651,2015984140515,328273.0,570137.0,-3.123385,55.020580,98,3,3,3,26/12/2015,...,0,0,1,2,2,0,0,2,1,NaN
1780652,2015984141415,314050.0,579638.0,-3.348646,55.103676,98,3,13,7,31/12/2015,...,0,0,6,3,4,0,0,2,1,NaN

In [10]:
casualties_data.loc[casualties_data.Sex_of_Casualty == 1, 'Sex_of_Casualty'] = "Male"
casualties_data.loc[casualties_data.Sex_of_Casualty == 2, 'Sex_of_Casualty'] = "Female"
casualties_data.loc[casualties_data.Sex_of_Casualty == 3, 'Sex_of_Casualty'] = "Not known"
casualties_data.loc[casualties_data.Sex_of_Casualty == -1, 'Sex_of_Casualty'] = "Data missing or out of range"
casualties_data

,Accident_Index,Vehicle Reference,Casualty_Reference,Casualty_Class,Sex_of_Casualty,Age_of_Casualty,Age_Band_of_Casualty,Casualty_Severity,Pedestrian_Location,Pedestrian_Movement,Car_Passenger,Bus_or_Coach_Passenger,Pedestrian_Road_Maintenance_Worker,Casualty_Type,Casualty_Home_Area_Type
0,200501BS00001,1,1,3,Male,37,7,2,1,1,0,0,-1,0,1
1,200501BS00002,1,1,2,Male,37,7,3,0,0,0,4,-1,11,1
2,200501BS00003,2,1,1,Male,62,9,3,0,0,0,0,-1,9,1
3,200501BS00004,1,1,3,Male,30,6,3,5,2,0,0,-1,0,1
4,200501BS00005,1,1,1,Male,49,8,3,0,0,0,0,-1,3,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,200905EE31672,1,1,1,Male,59,9,3,0,0,0,0,-1,9,1
1048571,200905EE31672,1,2,2,Female,57,9,3,0,0,2,0,-1,9,1
1048572,200905EE31674,2,1,1,Female,64,9,3,0,0,0,0,-1,9,1
1048573,200905EE31680,1,1,1,Female,52,8,3,0,0,0,0,-1,9,1
1048574,200905EE31682,1,1,1,Male,23,5,3,0,0,0,0,-1,90,1

In [11]:
vehicle_data.loc[vehicle_data.Vehicle_Type == 2, 'Vehicle_Type'] = "Motorcycles"
vehicle_data.loc[vehicle_data.Vehicle_Type == 3, 'Vehicle_Type'] = "Motorcycles"
vehicle_data.loc[vehicle_data.Vehicle_Type == 4, 'Vehicle_Type'] = "Motorcycles"
vehicle_data.loc[vehicle_data.Vehicle_Type == 5, 'Vehicle_Type'] = "Motorcycles"
vehicle_data

,Accident_Index,Vehicle Reference,Vehicle_Type,Towing_and_Articulation,Vehicle_Manoeuvre,Vehicle_Location-Restricted_Lane,Junction_Location,Skidding_and_Overturning,Hit_Object_in_Carriageway,Vehicle_Leaving_Carriageway,...,Was_Vehicle_Left_Hand_Drive?,Journey_Purpose_of_Driver,Sex_of_Driver,Age_of_Driver,Age_Band_of_Driver,Engine_Capacity_(CC),Propulsion_Code,Age_of_Vehicle,Driver_IMD_Decile,Driver_Home_Area_Type
0,200501BS00001,1,9,0,18,0,0,0,0,0,...,1,15,2,74,10,-1,-1,-1,7,1
1,200501BS00002,1,11,0,4,0,3,0,0,0,...,1,1,1,42,7,8268,2,3,-1,-1
2,200501BS00003,1,11,0,17,0,0,0,4,0,...,1,1,1,35,6,8300,2,5,2,1
3,200501BS00003,2,9,0,2,0,0,0,0,0,...,1,15,1,62,9,1762,1,6,1,1
4,200501BS00004,1,9,0,18,0,0,0,0,0,...,1,15,2,49,8,1769,1,4,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,2.00798E+12,4,19,0,18,0,1,0,0,0,...,1,1,1,52,8,5861,2,12,-1,1
1048571,2.00798E+12,1,9,0,18,0,0,2,0,1,...,1,15,1,30,6,2470,2,13,-1,3
1048572,2.00798E+12,1,21,0,18,0,0,1,0,0,...,1,1,1,45,7,-1,2,5,-1,1
1048573,2.00798E+12,2,19,0,18,0,0,1,0,0,...,1,1,1,74,10,1868,2,9,-1,3
1048574,2.00798E+12,1,9,0,5,9,6,0,0,0,...,1,1,1,58,9,998,1,3,-1,3

In [12]:
new_vehicle_data = vehicle_data.loc[vehicle_data.Vehicle_Type == "Motorcycles"]
new_vehicle_data

,Accident_Index,Vehicle Reference,Vehicle_Type,Towing_and_Articulation,Vehicle_Manoeuvre,Vehicle_Location-Restricted_Lane,Junction_Location,Skidding_and_Overturning,Hit_Object_in_Carriageway,Vehicle_Leaving_Carriageway,...,Was_Vehicle_Left_Hand_Drive?,Journey_Purpose_of_Driver,Sex_of_Driver,Age_of_Driver,Age_Band_of_Driver,Engine_Capacity_(CC),Propulsion_Code,Age_of_Vehicle,Driver_IMD_Decile,Driver_Home_Area_Type
5,200501BS00005,1,Motorcycles,0,18,0,0,1,10,0,...,1,15,1,49,8,85,1,10,-1,-1
7,200501BS00006,2,Motorcycles,0,18,0,0,0,0,0,...,1,15,2,30,6,124,1,2,1,1
8,200501BS00007,1,Motorcycles,0,18,0,1,0,4,0,...,1,15,1,31,6,-1,-1,-1,-1,-1
17,200501BS00014,2,Motorcycles,0,18,0,8,0,0,0,...,1,15,2,20,4,124,1,1,-1,-1
21,200501BS00017,1,Motorcycles,0,18,0,0,0,0,0,...,1,15,1,42,7,1171,1,2,8,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048530,2.00798E+12,1,Motorcycles,0,17,0,0,1,0,2,...,1,15,1,35,6,1085,1,8,-1,3
1048534,2.00798E+12,1,Motorcycles,0,18,0,1,1,0,0,...,1,15,1,55,8,1200,1,2,-1,3
1048536,2.00798E+12,1,Motorcycles,0,13,0,0,2,0,7,...,1,15,1,48,8,885,1,9,-1,3
1048550,2.00798E+12,1,Motorcycles,0,18,0,1,2,0,7,...,1,2,1,64,9,249,1,26,-1,3
1048567,2.00798E+12,1,Motorcycles,0,13,0,2,5,0,0,...,1,15,1,52,8,899,1,11,-1,3

In [15]:
dbv = new_vehicle_data[["Accident_Index", "Vehicle_Type"]]
dbv

        Accident_Index Vehicle_Type
5        200501BS00005  Motorcycles
7        200501BS00006  Motorcycles
8        200501BS00007  Motorcycles
17       200501BS00014  Motorcycles
21       200501BS00017  Motorcycles
...                ...          ...
1048530    2.00798E+12  Motorcycles
1048534    2.00798E+12  Motorcycles
1048536    2.00798E+12  Motorcycles
1048550    2.00798E+12  Motorcycles
1048567    2.00798E+12  Motorcycles

[74525 rows x 2 columns]

In [14]:
dbc = casualties_data[["Accident_Index", "Sex_of_Casualty", "Age_of_Casualty"]]
dbc

        Sex_of_Casualty  Age_of_Casualty
0                  Male               37
1                  Male               37
2                  Male               62
3                  Male               30
4                  Male               49
...                 ...              ...
1048570            Male               59
1048571          Female               57
1048572          Female               64
1048573          Female               52
1048574            Male               23

[1048575 rows x 2 columns]

In [16]:
dba = accident_data[["Accident_Index","Longitude", "Latitude"]]
dba

        Accident_Index  Longitude   Latitude
0        200501BS00001  -0.191170  51.489096
1        200501BS00002  -0.211708  51.520075
2        200501BS00003  -0.206458  51.525301
3        200501BS00004  -0.173862  51.482442
4        200501BS00005  -0.156618  51.495752
...                ...        ...        ...
1780648  2015984139115  -3.376671  55.023855
1780649  2015984139715  -3.242159  55.016316
1780650  2015984140215  -3.387067  55.163502
1780651  2015984140515  -3.123385  55.020580
1780652  2015984141415  -3.348646  55.103676

[1780653 rows x 3 columns]

In [9]:
db = "postgres:inder1980@localhost:5432/sunny"
engine = create_engine(f'postgresql://{db}')

engine.table_names()

OperationalError: (psycopg2.OperationalError) FATAL:  database "sunny" does not exist

(Background on this error at: http://sqlalche.me/e/e3q8)